@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney/Whitney-Medium-Pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney/Whitney-Bold-Pro.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney/Whitney-Light-Pro.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

body, html {
  margin: 0;
  height: 100vh;
  font-family: "Whitney", sans-serif;
}

body {
  height: 100vh;
  background: #FFFFFF;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #37384C;
  padding: 22px 100px;
}

.section {
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section .section__title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 300;
  margin: 24px 0;
}

.section .section__desc {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  max-width: 624px;
  margin: 0 0 56px;
}

.section .section__desc--grey {
  color: #FFFFFF;
  opacity: 0.64;
  max-width: 400px;
}

.section--dark {
  background-color: #37384C;
  color: #FFFFFF;
  min-height: 612px;
}

.section--light {
  color: #37384C;
  padding-top: 308px;
}

.section--light .section__title--light {
  color: #E0820B;
  margin: 0 0 40px;
}

.section--light .section__desc {
  font-size: 20px;
  font-weight: 400;
}

.section.patterns-bg {
  background-image: url(../images/hero_background.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.section .illustration {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  margin: 0 -20px 84px;
}

.section .illustration img {
  display: block;
  width: 100%;
  height: auto;
}

.button {
  padding: 13px 24px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px rgba(55, 56, 76, 0.16), 0px 4px 8px rgba(55, 56, 76, 0.08), 0px 8px 16px rgba(55, 56, 76, 0.04);
          box-shadow: 0px 1px 2px rgba(55, 56, 76, 0.16), 0px 4px 8px rgba(55, 56, 76, 0.08), 0px 8px 16px rgba(55, 56, 76, 0.04);
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.button span {
  z-index: 20;
}

.button:after {
  background: #FFFFFF;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.button:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.button--primary {
  background-color: #4A91F2;
  color: #FFFFFF;
}

.card {
  position: absolute;
  top: -27px;
  width: 100%;
  padding: 15px 0;
  max-width: 944px;
  background: #F9FBFD;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  text-align: center;
}

.card--light .card__desc {
  font-size: 20px;
  line-height: 28px;
  color: #12263F;
  opacity: 0.64;
}

.grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.grid__container.client-logos .grid__item {
  max-width: 165px;
  padding: 15px 30px;
}

.grid__container.client-logos .grid__item img {
  width: 70%;
  max-height: 55px;
}

.footer {
  height: 64px;
  width: 100%;
  background-color: #37384C;
}

@media only screen and (max-width: 991px) {
  .nav {
    padding: 15px 20px;
  }
  .section--light {
    padding-top: 20px;
  }
  .card {
    position: relative;
    top: 0;
    margin-bottom: 30px;
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  .section .section__title {
    font-size: 30px;
    line-height: 40px;
  }
  .section .section__desc {
    font-size: 18px;
  }
  .section .illustration {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=main.css.map */